/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  width: 900px;
  height: 550px;
  margin: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 7vh;
  padding: 0;
  background-color: #1F2833;
  color: whitesmoke
}
.title {
  margin: 20px;
  text-decoration: underline;
}
#container {
  margin: 10px;
  text-align: center;
}

#button {
  margin-top: 20px;
  text-align: center;
}

#info {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 200px;
  width: 70%;
}

#destinationInfo {
  width: 50%;
  border: 1px solid white;
}

#originInfo {
  width: 50%;
  border: 1px solid white;
}